.Footer {
    width: 100%;
    background-color: #346138;
    color: white;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 10px 10px 10px 15px;
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Align it to the bottom */
    left: 0; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it stays above other content */
}

.Footer > p {
    margin: 0;
}

.DesktopOnly {
    display: none;
}

.Date {
    margin-left: 10px;
}

.Icons {
    margin-left: 30px;
    font-size: 1.4rem;
    color: white;
}

.Icons:hover {
    color: #3c159c;
}

@media screen and (min-width:576px){
    .DesktopOnly {
        display: inline;
    }
    .Icons {
        margin-left: 20px;
    }
}