.Footer {
    width: 100%;
    background-color: #78e79e;
    border: solid 1px #007926;
    color: #1a3a5a;
    font-family: "Permanent Marker", sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 10px 10px 15px;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 1000; 
}

.Footer > p {
    margin: 0;
}

.DesktopOnly {
    display: none;
}

.Date {
    margin-left: 10px;
}

.Icons {
    margin-left: 30px;
    font-size: 1.4rem;
    color: #1a3a5a;
}

.Icons:hover {
    color:#0f2436;
}

@media screen and (min-width:576px){
    .DesktopOnly {
        display: inline;
    }
    .Icons {
        margin-left: 20px;
    }
}