/* General styling */

.GoalsContainer {
    border-color: #007926;
    border-bottom: solid;
    border-width: 1px;
    width: 100%;
    padding: 5px;
    padding-right: 28px;
    overflow: auto;
    box-sizing: border-box;
}

.ViewContainer {
    display: flex;
}

.Image  {
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-right: 5px;
}

