.Header {
    background-color: #78e79e;
    border: solid 1px #007926;
    height: 55px;
    align-items: normal;
}

.LogoName {
    font-family: "Permanent Marker", sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
}

.LogoName:hover {
    color: #3c159c;
}

.Link {
    margin-bottom: 5px;
    color: black;
    font-size: 1.2rem;
    background-color: #78e79e;
    

}
.NavLinks {
    position: fixed;
    height: 50px;
    right: 0px;
    padding: 10px 20px 5px 20px;
    text-align: left;
    align-items: center;
    font-family: "Permanent Marker", sans-serif;

}